<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.component.css">
  </head>
  <body>
<div class="auth-container">
    <div class="auth-image">
      <img src="assets/img5.jpg" alt="Login Image">
    </div>
    <div class="auth-form">
      <h2>Welcome Back!</h2>
      <form>
        <label for="email">Email *</label>
        <input [(ngModel)]="loginUserData.email" id="email" type="email" placeholder="Enter your email">
  
        <label for="password">Password *</label>
        <input [(ngModel)]="loginUserData.password" id="password" type="password" placeholder="Enter your password">
  
        <button (click)="loginUser()" type="submit">Login</button>
      </form>
      <div class="divider">or</div>
      <button class="social-button google">Login with Google</button>
      <button class="social-button facebook">Login with Facebook</button>
  
      <p>Don't have an account? <a routerLink="/sign-up" class="link">SIGN UP</a></p>
    </div>
  </div>
  </body>
</html>